@model PWA_trabalho_2b.ViewModels.Categoria.CategoriaViewModel;
@{
    ViewData["Title"] = "Categorias";
}

<div class="container">
    @if (Model.MensagemSucesso != null)
    {
        <div class="alert alert-success" role="alert">
            @Model.MensagemSucesso
        </div>
    }
    @if (Model.MensagemErro != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.MensagemErro
        </div>
    }

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-success" asp-controller="Categoria" asp-action="Create">Criar Nova Categoria</a>
        </div>
    </div>
    <hr />
    <h4>Listagem de Categorias</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Categoria Pai</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.Categorias.Any())
            {
                @foreach (var categoria in @Model.Categorias)
                {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Descricao</td>
                <td>@categoria.CategoriaPaiId</td>

                <td>
                    <a title="Visualizar e editar" class="mr-2" asp-controller="Categoria" asp-action="Edit" asp-route-id="@categoria.Id"><i class="bi bi-pencil-square"></i></a>
                    <a title="Remover" class="text-danger mr-2" asp-controller="Categoria" asp-action="Delete" asp-route-id="@categoria.Id"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="6" class="text-center">Não há categorias cadastradas</th>
                </tr>
            }

        </tbody>
    </table>
</div>